ALTER TABLE bills ADD COLUMN site varchar(20) NOT NULL DEFAULT '$SITE';
ALTER TABLE patients ADD COLUMN site varchar(20) NOT NULL DEFAULT '$SITE';
ALTER TABLE consultations ADD COLUMN site varchar(20) NOT NULL DEFAULT '$SITE';
