# Rename this file to credentials.py and fill in the following variables

# Credentials used to connect to the database
DB_USER = ''
DB_PASS = ''

# Credentials used to request the signature data from osteosoft
SIGNATURE_USER = ''
SIGNATURE_PASS = ''
